#formulario {
  width: 100%;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.contacto {
  width: 50%;
  overflow: hidden;
}

#foto {
  height: 100%;
}
#foto img {
  position: relative;
  right: 200px;
  top: -200px;
}

#texto {
  padding: 0 20px;
}

form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
}
form input, form textarea {
  border: none;
  border-bottom: 1px solid lightgrey;
}
form button {
  color: white;
}
