@import "style.scss";

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// FORMULARIO DE CONTACTO

.contacto{
  width: 50%;
  overflow: hidden;
}

#formulario{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  .contacto figure{
    margin: 0;
  }
}

#foto{
  height: 100%;
  img{
    position: relative;
  }
}
#texto{
  padding: 0 20px;
}

fieldset{
  border: none;
}

form{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  input, textarea, select{
    font-size: 1.3em;
    border: none;
    border-bottom: 1px solid lightgrey;
  }
  input[type="checkbox"]{
    height: 20px;
  }
  button{
    color: $blanco;
  }
}

// FORMULARIO DE PRESUPUESTOS

#presupuesto{
  .hoja-presupuesto{
    width: 90%;
    margin: 0 auto;
    h2{
      font-size: 3em;
      padding: 10px;
      text-align: center;
      background-color: $azuloscuro;
      color: $blanco;
    }
    h3{
      color: $rojo;
      font-size: 1.3em;
    }
    .contact-form{
      margin-top: 20px;
      div {
        ul{
          width: 100%;
        }
      }
      h4{
        color: $azuloscuro;
        margin-top: 10px;
        border-bottom: 2px solid $azuloscuro;
        font-size: 1.5em;
        padding: 5px 0;
      }
      label {
        color: $gris;
        font-size: 1.3em;
      }
      input, textarea {
        width: 100%;
        margin: 15px 0;
        border: none;
        border-bottom: 1px solid $gris;
      }
      .submit {
        width: 50%;
        margin: auto;
      }
      .siscons{
        display: flex;
        justify-content: space-around;
        p{
          margin: 20px;
          position: relative;
        }
        input{
          font-size: 20px;
          opacity: 0;
          cursor: pointer;
          position: absolute;
          margin: 5px 0;
          z-index: 99;
        }

        [type="checkbox"] + label{
          color: $gris;
          position: relative;
          padding-left: 20px;
        }

        [type="checkbox"] + label:before{
          content:'';
          position:absolute;
          top: 0px;
          left: -5px;
          width: 20px;
          height: 20px;
          border: 1px solid silver;
          z-index: -10;
          cursor: pointer;
        }

        [type="checkbox"]:checked + label:before{
          font-family: FontAwesome;
          content:'\f00c';
          font-size: 20px;
          color: $azuloscuro;
        }
      }
     }
    }
  }
