@import "style.scss";

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// FORMULARIO DE CONTACTO

.contacto{
  width: 50%;
  overflow: hidden;
}

#formulario{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

#foto{
  height: 100%;
  img{
    position: relative;
    right: 200px;
    top: -200px;
  }
}
#texto{
  padding: 0 20px;
}

form{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  input, textarea, select{
    font-size: 1.3em;
    padding: 10px;
    border: none;
    border-bottom: 1px solid lightgrey;
  }
  input[type="checkbox"]{
    height: 20px;
  }
  button{
    color: $blanco;
  }
}

// FORMULARIO DE PRESUPUESTOS

#presupuesto{
  .hoja-presupuesto{
    width: 90%;
    margin: 0 auto;
    h2{
      font-size: 3em;
      padding: 10px;
      text-align: center;
      background-color: $azuloscuro;
      color: $blanco;
    }
    h3{
      color: $rojo;
      font-size: 1.3em;
    }
    .contact-form{
      margin-top: 20px;
      div ul:last-child{
        margin-top: 20px;
      }
      h4{
        color: $azuloscuro;
        margin-top: 10px;
        border-bottom: 2px solid $azuloscuro;
        font-size: 1.5em;
        padding: 5px 0;
      }
      label {
        color: $gris;
        font-size: 1.3em;
      }
      input, textarea {
        width: 80%;
        font-size: 18px;
        margin: 15px 0;
        border: none;
        border-bottom: 1px solid $gris;
      }
      .siscons{
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        li{
          display: flex;
          align-items: center;
          input{
            width: 30px;
            margin: 0 10px;
          }
        }
      }
    }
  }
}
