/*ESTILOS RESPONSIVE DESIGN */


/* ---> Medida para Tablets horizontal <--- */
@media screen and (max-width: 1024px){

}

/* ---> Medida para Tablets en vertical <--- */

@media screen and (max-width: 768px) {

/*FORMULARIO DE CONTACTO*/

	.contacto{
		width: 100%;
	}
	#formulario, #presupuesto{
		/*height: 100%;*/
		margin-top: 1.1em;
	}
	#formulario h2{
		font-size: 1.2em;
	}
	#formulario input, #formulario textarea{
		font-size: 1.5em;
	}
	#formulario #foto{
		display: none;
	}
	#presupuesto #mobil{
		display: none;
	}

	#presupuesto #desktop{
		display: block;
	}
	header {
	flex-direction: column;
	justify-content: center;
	}

	header #logo {
	width: 100%;
	}

	header #logo a{
		text-align: center;
	}

	header #logo img {
	width: 80%;
	}

	header #menus {
	width: 100%;
	align-items: center;
	}

	header #menus #submenu{
		margin-top: 10px;
	}

  #linepool #contenedor-linepool{
    background-position-x: -100px;
  }

	#mundoline{
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	#mundoline #logo-footer{
		width: 50%;
    text-align: center;
	}

	#mundoline #texto {
		width: 100%;
	}

}

/* --->
        Medida Smarthphone
                          <--- */


@media screen and (max-width: 480px) {

  h2{
    margin: 0;
  }

	header #logo, header #menus{
		width: 100%;
		text-align: center;
	}

	header #logo img{
		width: 90%;
		padding-top: 1em;
	}

	header #menus{
		display: none;
	}

/*FORMULARIO DE PRESUPUESTO*/
	#presupuesto{
		margin: 0;
	}
  #presupuesto .presupuesto{
    right: 0;
  }
	#presupuesto .hoja-presupuesto{
		width: 100%;
	}
	#presupuesto .hoja-presupuesto h2{
		font-size: 2em;
	}
	#presupuesto .hoja-presupuesto h3{
		font-size: 1em;
	}
	#presupuesto .contact-form{
		margin-top: 0;
	}
	#presupuesto .contact-form ul{
		padding-left: 0;
	}
	#presupuesto .contact-form .siscons{
		flex-direction: column;
	}

/*SECCION GARANTIA*/

#sello-garantia>img{
  height: 100%;
  width: 25%;
  padding: 0 5px;
}

/*FORMULARIO DE CONTACTO*/
	.contacto{
		width: 100%;
	}
	#formulario{
		height: 100%;
		margin-top: 1.1em;
	}
	#formulario h2{
		font-size: 1.2em;
	}
	#formulario input, #formulario textarea{
		font-size: 1.5em;
	}
	#formulario #foto{
		display: none;
	}

	#presupuesto h1{
		font-size: 2.2em;
		text-align: center;
		left: 0;
	}

	#presupuesto #desktop{
		display: none;
	}

	#presupuesto #mobil{
		display: block;
	}

	#garantia #texto-garantia{
		flex-direction: column;
	}

/*SECCION SERVICIOS*/

	#box-servicios .secciones{
		width: 100%;
}
	#box-servicios .secciones h3{
		margin-top: 5px;
	}

	#box-servicios .secciones .mini{
		display: none;
}

/*SECCION LINEPOOL*/

	#linepool #contenedor-linepool{
		background-size: cover;
		justify-content: center;
		background-position-x: -400px;
		align-items: center;
}

	#linepool #contenedor-linepool #texto-linepool{
	width: 90%;
}
	#linepool #contenedor-linepool #texto-linepool img{
	width: 100%;
}

/*SECCION MUNDOLINE*/

	#mundoline{
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	#mundoline #logo-footer{
		width: 80%;
	}

	#mundoline #texto {
		width: 100%;
	}

  #mundoline #texto a{
    font-size: .9em;
  }

/*FOOTER*/

 #menu-footer{
	 display: none;
 }

 .aviso-legal{
	 font-size: .5em;
 }

}
