/*
*
* ESTILOS DE LA PORTADA
* Y ESTILOS GENERALES
*
*/

$texto: hsl(0, 0%, 36%);
$azuloscuro: hsl(204, 100%, 11%);
$rojo: hsl(15, 71%, 56%);
$amarillo: hsl(39, 87%, 57%);
$verde: hsl(79, 47%, 45%);
$rojoboton: hsl(0,96%,33%);
$azulfooter:  lighten($azuloscuro, 30%);
$blanco: hsl(149, 100%, 98%);
$gris: #B1A9A9;

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');


@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin style-button {
  display: inline-block;
  margin: 0;
  padding: .461em 1.563em .41em;
  color: $blanco!important;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  line-height: 1;
  font-size: .9em;
  cursor: pointer;
  font-family: "proxima-nova", sans-serif;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid hsl(0, 52%, 50%);
  background: $rojoboton;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
}

@mixin hover-menu {
    content: ' ';
    position: absolute;
    top: -100;
    left: 0;
    width: 100%;
    border: 2px solid $azulfooter;
}

html {
  height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', sans-serif;
  color: $azuloscuro;
  margin: 0px;
  padding: 0px;
}

h2 {
  text-align: center;
  font-size: 2.2em;
  margin: 0 0 15px 0;
  background-color: $azuloscuro;
  color: $blanco;
}

h4{
  color: $verde;
  font-size: 1.5em;
}

p, span {
  font-family: "Roboto", sans-serif;
  color: $texto;
  text-align: justify;
}

a {
  text-decoration: none;
}

ul, ol{
  list-style: none;
}


.boton {
  @include style-button;
  font-size: 2em;
  padding: .5em;
  transition: all .5s;
  box-shadow: 0px 5px 18px 0px grey;
  border: 2px solid snow;
  &:hover {
    cursor: pointer;
    background: hsl(0, 100%, 50%);
  }
  &:active {
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  }
}

.mini{
  font-size: 1em;
}

.texto-light {
  font-family: 'Poppins';
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

#main {
  max-width: 1200px;
  width: 100%;
}

.contenedor{
  padding-bottom: 2%;
}

// ESTILOS DE LA CABECERA
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
  width: 100%;
  #logo {
    width: 30%;
    @include center;
    img{
      width: 100%;
    }
  }
  #menus{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    #submenu {
      h5{
      color: rgba(0, 0, 0, .6);
      padding: 0 2em;
      font-weight: 200;
        a{
          color: rgba(0, 0, 0, .6);
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }

    nav{
      font-family: "Poppins";
      font-size: 1.5em;
      font-weight: 200;
      margin-top: 10px;
      width: 100%;
      z-index: 100;
      & ul {
        display: flex;
        justify-content: space-around;
        margin: 0;
      }
      & li:hover ul{
        display: block;
      }
      & li ul{
        display: none;
        position: absolute;
        padding: 0;
        background-color: $azuloscuro;
        transition: all .3s;
      }
      & li a{
				color: $azuloscuro;
				text-decoration:none;
				padding:5px 12px;
				display:block;
        font-weight: 400;
        transition: all .3s;
        &:hover{
          background-color: $azuloscuro;
          color: $blanco;
        }
      }
      & li ul li{
        position: relative;
        a{
          color: $azulfooter;
        }
      }
    }
  }
} // FIN DE LA CABECERA

// CONTENEDOR PRESUPUESTO

#presupuesto {
  position: relative;
  width: 100%;
  h1{
    position: absolute;
    color: $blanco;
    text-shadow: 0px 2px 8px dimgray;
    top: 0;
    left: 2em;
    font-size: 3em;
  }
  img{
    width: 100%;
  }
  #mobil{
    display: none;
  }
  .presupuesto{
    position: absolute;
    // @include center;
    bottom: 2em;
    height: 67px;
    right: 2em;
    z-index: 27;
    .boton{
      width: 100%;
      padding: .5em;
      a{
        font-size: 2em;
      }
    }
  }
} //FIN CONTENEDOR presupuesto

// CONTENEDOR GARANTÍA
#garantia{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  h3{
    text-align: center;
  }
  #texto-garantia{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    ul {
      list-style: none;
      padding: 0;
      li {
        font-family: 'Poppins';
        font-size: 1.5em;
        font-weight: 400;
        }
      }
    }
  }
  #sello-garantia{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
 //FIN CONTENEDOR GARANTÍA

// CONTENEDOR SERVICIOS
  #box-servicios{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .secciones{
      // box-sizing: border-box;
      width: 33%;
      padding: 0 1.2em;
      flex-direction: column;
      h3{
        font-size: 1.5em;
        text-align: center;
      }
      img{
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

//CONTENEDOR LINEPOOL
#linepool{
  width: 100%;
  #contenedor-linepool{
    width: 100%;
    background-image: url("../img/banner_linepool.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    #texto-linepool{
      width: 50%;
      text-align: center;
      margin: 2em 0;
      p{
        padding: 0 5%;
      }
      .boton{
        a{
          display: block;
          font-size: 2.2em;
        }
      }
    }
  }
}

//CONTENEDOR MUNDOLINE
#mundoline{
  display: flex;
  flex-wrap: wrap;
  h2{
    width: 100%;
  }
  #logo-footer{
    width: 50%;
    img{
      width: 80%;
      margin-left: 10%;
    }
  }
  #texto{
    width: 50%;
    text-align: center;
    padding: 0 2em;
    .boton{
      margin-bottom: 10px;
      a{
        font-size: 1em;
      }
    }
  }
}

// MANUAL
.manual{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 2% 0;
  padding: 2% 0;
  border-bottom: 1px dotted $gris;
}
.manual figure img{
  width: 100px;
}

// FOOTER
footer{
  width: 100%;
  background-color: $azuloscuro;
  margin-bottom: 20px;
  #menu-footer{
    ul{
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      padding: 2%;
      li {
        position: relative;
        a{
          color: $azulfooter;
          display: block;}
        &:hover:after{
          @include hover-menu;
        }
      }
    }
  }
  .copyright{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 20px;
    p{
      margin: 0;
      padding: 0 2%;
      color: $azulfooter;
      font-size: 1.5em;
    }
    #iconos-sociales{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      i{
        padding: 0 15%;
        font-size: 1.5em;
        color: $azulfooter;
        &:hover{
          color: $blanco;
        }
      }
    }
  }
  .aviso-legal{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    a{
      color: $azulfooter;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  #direccion{
    color: $azulfooter !important;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    font-size: .8em;
    justify-content: center;
    padding-top: 2em;
    width: 100%;
    h5{
      color: $azulfooter;
      margin-right: 5px;
      text-align: center;
    }
    address{
      text-align: center;
    }
  }
}
